@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root{
    --main-color: #21334e;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
}

.sidebar{
    width: 245px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;

}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
    padding-left: 1rem;
}

.sidebar-brand h2 span{
    display: inline-block;
    padding: 2rem;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
width: 100%;
margin-bottom: 1.7rem;
padding-left: 1rem;
}

.sidebar-menu a {
padding-left: 1rem;
display: block;
color: #fff;
font-size: 1.1rem;
}

.sidebar-menu a span:first-child {
font-size: 1.5rem;
padding-right: 1rem;

}

.sidebar-menu a:hover {
    background: #fff;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

#nav-toggle:checked + .sidebar {
   width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
    display: none;
 }

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
 } 

 #nav-toggle:checked ~ .main-content header {
    width: calc(100% - 70px);
    left: 70px;
 } 

.main-content{
    transition: margin-left 300ms;
    margin-left: 245px;
}


header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 245px;
    width: calc(100% - 245px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}

#nav-toggle {
    display: none;
}

header h2{
    color: #222;
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items:center;
    overflow-x: hidden;
    padding-left: 1rem;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small{
 display: inline-block;
 color: var(--text-grey);
}

main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);

}
.cards{
    display:  grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem ;
    margin-bottom: 1rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single h1{
    color: #222;
}

.card-single div:last-child span {
    font-size:3rem;
    color: #fff;
    border: .5rem solid rgb(64, 119, 219);
    background-color: rgb(64, 119, 219);
    border-radius: 50%;
}

.card-single div:first-child span {
    color: var(--text-grey);
}

.card-single:last-child {
    color: var(--main-color) 
}
.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 60% auto;
}

.crad {
    background: #fff;
    border-radius: 5px;
}

.card-header{
    padding: 2rem;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header .header-button {
    background: rgb(64, 119, 219);
    border-radius: 10px;
    color: #fff;
    font-size: .9rem;
    padding: .5rem 1rem;
    border: 1px solid rgb(64, 119, 219);
}

table {
    border-collapse: collapse;
}

table tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

tr td{
    padding-left: 2rem;
    align-items: center;
}

tr td:last-child {
    display: felx;
    align-items: center;
}

.table-responsive{
    width: 100%;
    overflow-x: auto;
}

.edit-icone{
    font-size: 1.5rem;
    color: rgb(75, 184, 138);
  }
.delete-icone{
    font-size: 1.5rem;
    color: red;
  }

  .delete-icone i{
    cursor: pointer;
  }
   .edit-icone i{
     cursor: pointer;
   }

.customer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info{
    display: flex;
    align-items: center;
}

.info img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4{
    font-size: .7rem;
    font-weight: 700;
    color: #222;
}

.info small {
    font-size: .6rem;
    font-weight: 600;
    color: var(--text-grey);
}

.contact span{
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: var(--main-color);
}

.container-add-Customer{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container-add-Customer form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: 15rem;
    margin:5px 0 12px 0;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input,
.user-details .input-box select{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px;
    transition: all 0.3 ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: var(--main-color);
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
  }

  .modal {
    position: fixed;
    top: 10vh;
    left: 10%;
    width: 80%;
    max-height: 80vh;
    background: white;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    overflow: scroll;
  }

  .modal h3 {
    padding: 1rem;
    margin: 0;
    border-bottom: 1px solid #ccc;
    font-family: "Roboto Slab", sans-serif;

  }

  .modal h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal h3 i{
    font-size: 2;
    color: var(--main-color);
  }

  .modal .content {
    padding: 1rem;
  }

  .modal footer {
    padding: 1rem;
  }

  .Paid ,.Complete, .Review{
    border: rgb(208, 238, 177);
  background-color: rgb(208, 238, 177);
  border-radius: 1rem;
  padding: .4rem .9rem;
  color: rgb(66, 126, 7);
  }

  .Chargeback, .Pending{
    border: rgb(241, 184, 184);
    background-color: rgb(241, 184, 184);
    border-radius: 1rem;
    padding: .4rem .9rem;
    color: rgb(248, 4, 4);
  }

  .Refund, .In-progress{
    border: rgb(243, 242, 203);
    background-color: rgb(243, 242, 196);
    border-radius: .9rem;
    padding: .4rem .8rem;
    color: rgb(192, 165, 10);
  }
  
  .detail-field{
    border: rgb(91, 143, 238) solid;
    border-radius: .5rem;
    background-color: rgb(91, 143, 238);
    padding: .4rem .2rem;
    color: white;
  }

  .card-header .add-button {
      
    background: rgb(75, 184, 138);
    border-radius: 10px;
    color: #fff;
    font-size: .9rem;
    padding: .5rem 1rem;
    border: 1px solid rgb(75, 184, 138);
}

.cancel-button{
    background: white;
  border-radius: 10px;
  color: var(--main-color);
  font-size: .9rem;
  padding: .5rem 1rem;
  border: 1px solid var(--main-color);
  cursor: pointer;
  }
  .cancel-button:hover{
    border: 2px solid var(--main-color);
  }
  .save-button{
  background: rgb(75, 184, 138);
  border-radius: 10px;
  color: white;
  font-size: .9rem;
  padding: .5rem 1rem;
  border: 1px solid rgb(75, 184, 138);
  cursor: pointer
  }
  .save-button:hover{
    border: 3px solid rgb(75, 184, 138);
  }

  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }

@media only screen and (max-width: 1200px) {
    
.sidebar {
    width: 70px;
 }
 
 .sidebar .sidebar-brand,
 .sidebar li {
     padding-left: 1rem;
     text-align: center;
 }
 
.sidebar li a {
     padding-left: 0rem;
 }
 
 .sidebar .sidebar-brand h2 span:last-child,
 .sidebar li a span:last-child {
     display: none;
  }
 
 .main-content {
     margin-left: 70px;
  } 
 
 .main-content header {
     width: calc(100% - 70px);
     left: 70px;
  } 

  .sidebar:hover {
    width: 245px;
    z-index: 200;
 }
 
 .sidebar:hover .sidebar-brand,
 .sidebar:hover li {
     padding-left: 2rem;
     text-align: left;
 }
 
.sidebar:hover li a {
     padding-left: 1rem;
 }
 
 .sidebar:hover .sidebar-brand h2 span:last-child,
 .sidebar:hover li a span:last-child {
     display: inline;
  }
  
}

@media only screen and (max-width: 960px){
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .recent-grid{
        grid-template-columns: 60% 40%;
    }

}
@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-grid{
        grid-template-columns: 100%;
    }

    .search-wrapper{
        display: none;
    }

    .sidebar{
        left: -100% !important;
    }

    header h2 {
        display: flex;
        align-items: center;
    }

    header h2 label {
        display: inline-block;
        background: var(--main-color);
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }

    header h2 span {
        text-align: center;
        padding-right: 0rem;
    }

    header h2 {
        font-size: 1.1rem;

    }

    .main-content{
        width: 100%;
        margin-left: 0rem;
    }

    header {
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked + .sidebar {
        left: 0 !important;
        z-index: 100;
        width: 245px;
    }
     
     #nav-toggle:checked + .sidebar .sidebar-brand,
     #nav-toggle:checked + .sidebar li {
         padding-left: 2rem;
         text-align: left;
     }

     #nav-toggle:checked + .sidebar li a {
        padding-left: 1rem;
     }
     
     #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
     #nav-toggle:checked + .sidebar li a span:last-child {
        display: inline;
     }
     #nav-toggle:checked ~ .main-content {
         margin-left: 0rem !important;

     }
}

@media only screen and (max-width: 560px){
    .cards {
        grid-template-columns: 100%;
    }

    .recent-grid{
        grid-template-columns: 100%;
    }

    .search-wrapper{
        display: none;
    }
}



